.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.barg img {
    max-width: 100%;
    height: auto;
}
.questions {
    font-family: 'YourFontt';
    font-size: 60px;
}
@font-face {
    font-family: 'YourFontt';
    src: url('./font/Poppin-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media (max-width: 991px) {
    .o1 {
        order: 2;
    }
    .o2 {
        order: 1;
    }
}
