/* .icon1 {
    position: absolute;
    margin-left: 200px;
    top: 127px;
}

.icon2 {
    position: absolute;
    margin-left: 200px;
    top: 200px;
}

.icon3 {
    position: absolute;
    margin-left: 200px;
    top: 277px;
}

.icon4 {
    position: absolute;
    margin-left: 200px;
    top: 353px;
}

.icon5 {
    position: absolute;
    margin-left: 200px;
    top: 427px;
}

.icon6 {
    position: absolute;
    margin-left: 200px;
    top: 503px;
} */
.signup-bodyy {
    background: url('./wallhaven-werowr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* height: 00vh;
    width: 100vw; */
    /* overflow: hidden; */
}