/* .container {
    text-align: center;
}

.visiter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.visiter img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.celebrity {
    padding-bottom: 50px;
    font-family: 'Your';
} */
.celebrity {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}

.visiter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .celebrity {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .celebrity {
        font-size: 2rem;
    }
}